@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu|Asap');

.header {
	position:relative;
	width:100%;
	height:13%;
	background-color:#EDEDED;
}

.heading {
	display:inline;
	line-height:95.5px;
	margin-left:50px;
}

body {
    font-family:"Ubuntu";
}

.error-margin-left {
	margin-left:20px;
}

.navbar-container {
	width:98%;
	height:100%;
	float:right;
}

.navbar-wrapper {
	width:100%;
	height:5.6%;
	background-color:#E3E3E3;
}

.navbar-filler {
	width:2%;
	height:100%;
	float:right;
	border-bottom: 1px solid #ddd;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.float-bottom {
/*	bottom:0;
*/}

.logout-header {
	margin:0;
	float:left;
	display:inline-block;
	line-height: 33.6px;
}

.logout-button {
	/*height:100%;
	width:100%;*/
	
}

.vertical-center {
	position:relative;
	display:inline-block;
	margin-left:20px;
	float:left;
}

.header-container {
	margin-right:50px;
	padding-top:30px;
	width:20%;
	height:100%;
	float:right;
}

.main {
	position:relative;
	width:100%;
	height:81.4%;
	background-color:#D6E3FF;
	overflow: scroll;
}

.home-section-container {
	width:100%;
	height:40%;
	overflow:hidden;
}

.home-section-header {
	margin:0;
	position:relative;
	left:7%;
	display:inline;
}

.top-header {
	margin:0;
	position:relative;
	top:35%;
}

.top-header-container {
	text-align:center;
	height:20%;
	width:100%;
}

.content-container-lg {
	height:80%;
	width:100%;
	position:relative;
}

.roster-table {
	position:relative;
	width:80%;
	left:10%;
	background-color:white;
}

#account-title {
	float:right;
}

h4.info {
	margin-left:35px;
}

#app-layout-header {
	height: 95.6px;
	background-color:#EDEDED;
}

.header-link {
	font-size:20px;
}

#login-body {
	width:100%;
	height:100%;
	background-color:#D6E3FF;	
}

#login-header {
	margin-top: 30px;
	margin-bottom:30px;
}

.footer {
	position:absolute;
	bottom:0;
	height:20%;
	width:100%;
}

.add-button {
	float:right;
	display:inline-block;
	margin-left:20px;
}

.form-container {
	position:absolute;
	width:60%;
	height:100%;
	left:20%;
}

.button-container {
	float:right;
	width:30%;
	height:20%;
	position:absolute;
	left:65%;
	bottom:35%;
}

.btn-bottom-right {
	position:absolute;
	float:right;
	left:85%;
	top:20%;
}

#plus {
	background: url('/images/add-button-hi.png');
	height:35px;
	width:35px;
}

/* .squaredFour */
.squaredFour {
  display:block;
  margin: 0 auto;
  position: relative;
}
.squaredFour label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredFour label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredFour label:hover::after {
  opacity: 0.5;
}
.squaredFour input[type=checkbox] {
  visibility: hidden;
}
.squaredFour input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.event {
	margin-bottom:20px;
}